<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="estilos.css">

</head>

<body>
    <img src="tarea.png">

    <div id="app_tareas" class="tarea">
        <div>
            <h1>Lista de Tareas</h1>


            <input v-model="nueva_tarea" type="text" id="añadir_tarea" name="añadir_tarea" placeholder="Apunta tus Tareas">

            <select name="prioridad" v-model="prioridad">
                <option value="Alta">Alta</option>
                <option value="Media" selected>Media</option>
                <option value="Baja">Baja</option>
            </select>

            <button v-on:click="añadir" class="añadir">Añadir</button>
        </div>

        <ul>
            <transition-group name="efecto">
                <li v-for="(objeto_tarea,index) in listado_tareas" v-bind:key="objeto_tarea" :class="{tarera_completada:objeto_tarea.completada}">

                    <div>
                        <div>
                            <div @click="cambiar_completada(index)">
                                <h3> {{objeto_tarea.tarea}}</h3>
                                <h4>Prioridad {{objeto_tarea.prioridad == 3 ? "Alta":objeto_tarea.prioridad == 2 ? "Media":"Baja"}} </h4>
                            </div>
                            <div class="botones">
                                Cambiar prioridad
                                <button v-on:click="poner_prio_alta(index)">Alta</button>
                                <button v-on:click="poner_prio_media(index)">Media</button>
                                <button v-on:click="poner_prio_baja(index)">Baja</button>
                            </div>
                            <div>
                                {{ver_estado (objeto_tarea.completada)}}
                            </div>
                        </div>

                        <div>
                            <span>Creada hace {{fechaActual(objeto_tarea.fecha_creacion)}} minutos</span>
                            <button v-on:click="borra(index)">Borrar tarea</button>
                        </div>



                    </div>

                </li>
            </transition-group>
        </ul>
        <div id="informacion_listas">
            Total tareas {{listado_tareas.length}} Tareas completadas {{devolver_tareas_completadas()}} <button v-on:click="borrarCompletadas()">Borrar tareas hechas</button>

        </div>
    </div>
</body>

</html>